.container-text{
  h2{
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 24px;
    font-weight: bold;
  }
  p{
    color: white;
    opacity: 0.8;
  }
}

.container-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.first-brands{
  display: flex;
  margin: 50px 0px;
}

.box-clothing{
  display: flex;
}

.img-brands{
  width: 212px;
  height: 149px;
  margin: 20px;
}

.sc-bZQynM h1{
  color: $primaryColor;
  transition: all 0.5s;
}

.sc-bZQynM h1:hover{
  color: $secondColor;
  transform: translateY(-3px);
}
