.content h1{
  font-size: 50px;
}

.container-home{
  width: 100%;
}

.info{
  display: flex;
}

.img-home{
  width: 100%;
  transition: all 0.5s;
}

.sc-EHOje .lcKOhx{
  // margin: 30px !important;
}

.sc-EHOje .lcKOhx{
  left: 0px !important;
  top: 20px !important;
}

.content-left{
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.content-right{
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: column;
  // text-orientation: upright;
}
