.img-section{
  width: 250px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p{
    width: 200px;
  }
}

.sc-EHOje h1{
  color: $primaryColor;
  transition: all 0.5s;
}

.sc-EHOje h1:hover{
  color: $secondColor;
  transform: translateY(-3px);
}
