@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,600,600i,700&display=swap');

$primaryColor: #000000;
$secondColor: #e0bb20;

@import "home.scss";
@import "buttons.scss";
@import "service.scss";
@import "brands.scss";
@import "article.scss";
@import "footer.scss";
@import "responsive.scss";

body{
  font-family: 'Exo 2', sans-serif;
}
