@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,600,600i,700&display=swap');

$primaryColor: #000000;
$secondColor: #000839;

@import "home.scss";
@import "buttons.scss";
@import "service.scss";
@import "brands.scss";
@import "article.scss";
@import "footer.scss";
@import "stockx.scss";
@import "responsive.scss";

body{
  font-family: 'Exo 2', sans-serif !important;
}

button:focus {
  /* outline: 1px dotted; */
  outline: 0px auto -webkit-focus-ring-color !important;
}

.mt-100{margin-top: 100px;}


.center{
  align-items: center;
}