$primaryColor: #000000;
$secondColor: #000839;

.top-product{
    display: flex;
  }
  
  .product{
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    padding: 24px 12px;
    width: 100%;
    min-height: 280px;
    margin: 24px 0px 0px 0px;
    border-radius: 4px;
    img{
        margin: 24px 0px;
        width: 180px;
    }
    p{
        margin-bottom: 8px;
        font-size: 14px;
        color: $primaryColor;
    }
    h4{
        font-size: 16px;
        color: $secondColor;
    }

  }
  .click-card:hover{
    text-decoration: none;
}
  
  .product-sneaker-search{
    text-align: center;
    box-shadow: 0 0 0px rgba(0,0,0,0) !important;
    padding: 12px;
    width: 100%;
    min-height: 280px;
    margin: 24px 0px 0px 0px;
    h4{
        margin-bottom: 12px;
        color: $primaryColor;
        font-weight: 200;
    }
  }

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    width: 310px;
    display: block;
  }
  
  .mt-100 svg{
    width: 100%;
    height: 400px;
  }

  .short-info{
    display: flex;
    justify-content: space-around;
    p{
        font-size: 12px;
        margin-bottom: 0px;
        font-weight: bold;
    }
  }

  .button-loadmore{
      text-align: center;
      button{
          margin: 62px 0px !important;
      }
  }



// Single page stockx
.title-product{
    padding-top: 48px;
    h1{
        font-size: 32px;
        font-weight: 500;
        line-height: 33px;
    }
    h3{
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 24px;
    }
    span{
        font-size: 14px;
        margin-left: 12px;
    }
}

.img-product{
    img{
        width: 100%;
    }
}

.top-info{
    width: 150px;
    float: left;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    color: $secondColor;
}

.title-value{
    margin: 62px 0px 48px 0px;
    h3{
        font-size: 32px;
        color: $secondColor;
        text-align: center;
    }
}

.size-btn{
    background: transparent;
    border: 0px;
    margin: 0px 8px;
    font-size: 12px;
}

.select-value{
    display: flex;
    align-items: center;
    .MuiFormControl-root{
        width: 100% !important;
    }
}

.info-market-style{
    text-align: center;
    margin: 12px 0px;
    p{
        margin-bottom: 0px;
        color: $secondColor;
        font-weight: 200;
        font-size: 14px;
    }
    span{
        font-weight: bold;
        color: $primaryColor;
        font-size: 16px;
        margin-left: 8px;
    }
}

.title-value{
    margin: 62px 0px 48px 0px;
}

@media only screen and ( min-width: 0px ) and (max-width : 320px) {
    .title-value{
        margin: 24px 0px 12px 0px;
    }
    
}
@media only screen and ( min-width: 321px ) and ( max-width : 767px) {
    .title-value{
        margin: 62px 0px 12px 0px;
        display: flex;
        justify-content: center;
    }
    
}
@media only screen and ( min-width: 768px ) and (max-width : 992px) {}
@media only screen and ( min-width: 993px ) and (max-width : 1200px) {}